/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	cursor: pointer;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 30px 0 50px;
}

.filters button {
  border: 1px solid #1D6154;
  color: #1D6154;
  background: transparent;
  padding: 10px 25px;        
  border-radius: 60px;       
  font-size: 16px;
  font-weight: 500;          
  cursor: pointer;
  transition: all 0.2s ease; 
}

.filters button.active {
  background-color: #1D6154;
  color: white;
}


/* ***** Login ***** */

.login {
  width: 50%;
  margin: 150px auto;
  text-align: center;
}

.login h2 {
  margin-bottom: 30px;
}

.login form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.login label {
  margin: 20px 0 10px;
}

.login input {
  height: 50px;
  font-size: 1.2em;
  padding-left: 10px;
}

.login input[type="submit"] {
  margin: 30px auto;
  width: 180px;
  border-radius: 60px;
  background-color: #1D6154;
  color: white;
  border: none;
  cursor: pointer;
}

.forgot-password {
  text-decoration: underline;
  color: black;
}

.login input[type="email"],
.login input[type="password"] {
	box-shadow: 0px 4px 14px 0px #00000017;
	border: none;
}

.active {
	font-weight: bold;
}



/* Bandeau édition */
.edit-banner {
	display: none;
	background-color: black;
	color: white;
	height: 59px;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

/* Bouton modifier */
.edit-projects {
	display: none;
	gap: 30px;
	align-items: center;
	align-items: baseline;
	padding: 70px;
}

.edit-projects button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 14px;
	font-family: 'Work Sans';
}

.white_icon {
	color: white;
	width: 15.58px;
  	height: 15.58px;
}

.black_icon {
	color: black;
	width: 15.58px;
  	height: 15.58px;
	margin-right: -30px;
}

.portfolio-header {
   	display: flex;
    align-items: baseline;
    justify-content: center;
}

/* La modale */

/* Overlay sombre */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


/* Fenêtre */
.modal {
  background: white;
  width: 630px;
  height: 688px;
  max-height: 90vh;
  border-radius: 10px;
  padding: 35px 65px;
  position: relative;
}


/* Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -20px;
}

.modal-close,
.modal-back {
  cursor: pointer;
  font-size: 25px;
	padding: 10px 0px;
}


/* Galerie */
.modal-gallery {
  text-align: center;
}

.modal-gallery-grid {
	width: 525px;
	margin: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  
}

/* Formulaire */
.modal-form {
  display: none;
  padding: 0 65px;
  font-size: 17px;
}

.modal-back {
  visibility: hidden;
}

.modal-work {
  position: relative;
  	margin-bottom: 15px;

}

.modal-work img {
	width: 100%;
	height: 100%;
	top: 796px;
	left: 853.2px;
  	object-fit: cover;
}

.modal-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  background: black;
  color: white;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
  border-radius: 2px;
}

.modal h3 {
  text-align: center;
  font-size: 31px;
  font-weight: 400;
  margin-bottom: 30px;
}

.modal-separator {
  border-top: 1px solid #B3B3B3;
  margin: 40px 0 30px;
}

.modal-add-btn {
  display: block;
  margin: 0 auto;
  background: #1D6154;
  color: white;
  border: none;
  border-radius: 60px;
  padding: 10px 40px;
  font-size: 17px;
  cursor: pointer;
}


/* ===== ZONE AJOUT IMAGE ===== */

.upload-zone {
  background-color: #e8f1f6;
  border-radius: 3px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.upload-placeholder {
  display: flex;
  flex-direction: column;   
  align-items: center;
  gap: 10px;
}

.upload-zone img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-zone i {
  font-size: 76px;
  color: #b9c5cc;
  margin-bottom: 10px;
}

.upload-zone button {
  background-color: #cbd6dc;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  color: #306685;
  font-weight: 500;
  cursor: pointer;
  font-size: 17px;
}

.upload-zone p {
  font-size: 10px;
  color: #444;
  margin-top: 7px;
}

#add-photo-form {
  margin-top: 40px;
}

/* ===== INPUTS ===== */
.modal-form label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

.modal-form input[type="text"] {
  width: 100%;
  height: 50px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.09);
  border: none;
  margin-bottom: 30px;
}

/* Select du formulaire */
.modal-form select {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.09);
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><polygon points="0,0 10,0 5,6" fill="%23333"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px 6px;
  margin-bottom: 30px;
}



/* Flèche personnalisée */
.modal-form select::-ms-expand {
  display: none; /* IE */
}

/* Option si besoin */
.modal-form select option {
  color: #444;
}


/* ===== SEPARATEUR ===== */
.modal-separator {
  width: 100%;
  height: 0px;
  background-color: #b3b3b3;
  margin: 40px 0px ;
}

/* ===== BOUTON VALIDER ===== */
.modal-form button[type="submit"] {
  width: 237px;
  height: 36px;
  margin: 0 auto;
  display: block;
  border-radius: 60px;
  border: none;
  background-color: #a7a7a7;
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 17px;
}

.preview-container {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.preview-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remove-preview {
  position: absolute;
  top: 10px;
  right: 10px;
  background: black;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
